.photos-page {
  .img-container {
    border-radius: var(--radius-lg) 0 var(--radius-lg) 0;
    overflow: hidden;
    box-shadow: var(--shadow);

    img {
      transition: var(--transition);
      pointer-events: none;
    }

    &:hover img,
    &:focus img {
      transform: scale(1.1);
    }
  }

  figure {
    img {
      transition: var(--transition);
    }

    figcaption {
      font-size: 1.125rem;
    }

    &:hover,
    &:focus {
      img {
        transform: scale(1.1);
      }
    }
  }
}