.write-page {
  .mdxeditor {
    border: solid 1px var(--bg3);
    border-radius: var(--radius-medium);
    background: var(--bg);
  }

  .mdxeditor-rich-text-editor {
    max-height: calc(100vh - 10rem);
    overflow: auto;
    resize: vertical;
  }
}

// prevents breaking mdx-editor property popover
[data-radix-popper-content-wrapper] table {
  width: unset;
  border-collapse: unset;
  margin-bottom: unset;
}