section {
  position: relative;
  padding: var(--space) 0;
}

.blog {}

.about {
  .about__img {
    min-width: 0;
  }
}

@media screen and (min-width: 992px) {
  .home-shapes {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &::before,
    &::after {
      // content: '';
      position: absolute;
      background: var(--primary);
      border-radius: var(--circle);
      box-shadow: 1.25rem 1.25rem var(--bg), 1.25rem 1.25rem 0 1px var(--text2);
    }

    &::before {
      width: 2rem;
      height: 2rem;
      top: 1.5rem;
      left: 2.5rem;
      transform: rotate(100deg);
      animation: home-shape-1 33s infinite alternate linear;
    }

    &::after {
      width: 2.5rem;
      height: 2.5rem;
      right: 2.5rem;
      bottom: 4rem;
      transform: rotate(-190deg);
      animation: home-shape-2 29s infinite alternate linear;
    }

    @keyframes home-shape-1 {
      100% {
        transform: translate(10rem, 0.5rem);
      }
    }

    @keyframes home-shape-2 {
      100% {
        transform: translate(-8rem, -0.5rem);
      }
    }
  }
}

.btn-wrapper-right {
  text-align: right;
}