.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 0;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }
}

.card {
  position: relative;
  border-radius: var(--radius) 0 var(--radius) 0;
  box-shadow: var(--shadow);
  transition: all var(--transition);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1.25rem 0 1.25rem 0;
    background: var(--primary);
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
    transition: all var(--transition);
  }

  a {
    display: block;
    text-decoration: none;
    border-radius: inherit;
  }

  .card__img {
    border-radius: inherit;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="36" viewBox="0 0 36 72"%3E%3Cg fill-rule="evenodd"%3E%3Cg fill="%23009688" fill-opacity="0.4"%3E%3Cpath d="M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E'),
      var(--bg2);

    img {
      display: block;
      object-fit: cover;
      aspect-ratio: 16/9;
      border-radius: inherit;
      transition: all var(--transition);
    }
  }

  .card__data {
    position: absolute;
    background: var(--bg60);
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    height: 3rem;
    border-radius: 1rem 0 1rem 0;
    overflow: hidden;
    transition: all var(--transition);

    .card__title {
      margin-bottom: 0;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    &::after {
      top: -4px;
      left: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
    }

    .card__img img {
      filter: brightness(110%);
    }

    .card__data {
      height: 4.5rem;
      color: var(--text)
    }
  }

  @media screen and (max-width: 767px) {
    &::after {
      top: -4px;
      left: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
    }

    .card__img img {
      filter: brightness(110%);
    }

    .card__data {
      height: 4.5rem;
      color: var(--text)
    }
  }
}