* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 1rem;
  min-width: 320px;
}

#__next main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-body);
  background-color: var(--bg);
  color: var(--text2);
}

section {
  position: relative;
  padding: var(--space) 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: normal;
  text-align: center;
  margin: 2rem 0;
}

h2 {
  font-family: var(--font-title);
  font-size: 1.75rem;
  font-weight: normal;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
}

h4 {
  font-size: 1.125rem;
  font-weight: normal;
}

h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 0.75em;
}

a {
  line-height: 1.4;
  color: inherit;

  &:hover,
  &:focus {
    color: var(--primary);
    transition: all var(--transition);
  }
}

p {
  margin: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;

  &:last-of-type {
    margin-bottom: 0;
  }
}

strong {
  color: var(--primary);
}

ul,
ol {
  margin: 0;
  padding-left: 1.25rem;

  li {
    line-height: 1.6;
  }
}

ul {
  list-style-type: square;

  &.nodisc {
    list-style: none;
    padding-left: 0;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

input {
  display: block;
  width: 100%;
  background: var(--bg);
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: solid 1px var(--bg3);
  border-radius: 0.5rem;
  outline: none;
  transition: all var(--transition);
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.btn {
  position: relative;
  color: var(--text2);
  background-color: var(--bg);
  outline: none;
  border: solid 1px var(--bg);
  border-radius: 0.5rem 0 0.5rem 0;
  text-decoration: none;
  line-height: 1;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all var(--transition);

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    border-radius: 0.75rem 0 0.75rem 0;
    background: var(--primary);
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
  }

  &.active,
  &:not(.active):hover,
  &:not(.active):focus {
    color: var(--bg);
    background-color: rgba(256, 256, 256, 0);
  }
}

figure {
  position: relative;
  border-radius: var(--radius-lg) 0 var(--radius-lg) 0;
  overflow: hidden;

  img {
    pointer-events: none;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    z-index: 11;
    padding: 0.25rem 0.5rem;
    margin-top: -1rem;
    color: var(--text);
    font-size: 0.875rem;
    background: var(--bg80);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;

  th,
  td {
    padding: 0.5rem;
    border: solid 1px var(--bg3);
  }

  tr:nth-child(odd) {
    background-color: var(--bg2);
  }

  td[colspan] {
    text-align: center;
    border-top: solid 2px var(--bg3);
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}