main {
  --primary: rgb(133, 194, 255);
  --primary-dark: rgb(92, 176, 255);
  --primary-light: rgb(194, 225, 255);
  --primary-lightest: rgb(235, 245, 255);
  --primary20: rgba(153, 206, 255, 0.2);
  --primary40: rgba(153, 206, 255, 0.4);
  --secondary: rgb(255, 175, 204);
  --secondary-light: rgb(255, 200, 221);
  --tertiary: rgb(205, 180, 219);
  --text: #111111;
  --text2: #333333;
  --text3: #454545;
  --dark: #333333;
  --dark-grey: #454545;
  --grey: #666666;
  --light-grey: #999999;
  --light: #eeeeee;
  --bg3: #dddddd;
  --bg2: #eeeeee;
  --bg: #fcfcfc;
  --bg10: rgba(256, 256, 256, 0.1);
  --bg20: rgba(256, 256, 256, 0.2);
  --bg40: rgba(256, 256, 256, 0.4);
  --bg60: rgba(256, 256, 256, 0.6);
  --bg80: rgba(256, 256, 256, 0.8);
  --text10: rgba(0, 0, 0, 0.1);
  --text20: rgba(0, 0, 0, 0.2);
  --text40: rgba(0, 0, 0, 0.4);
  --text60: rgba(0, 0, 0, 0.6);
  --text80: rgba(0, 0, 0, 0.8);
  --font-title: 'Akaya Telivigala', serif;
  --font-body: 'Open Sans', sans-serif;
  --border: solid 1px;
  --space: 1rem;
  --radius: 1rem;
  --radius-sm: 0.5rem;
  --radius-lg: 2rem;
  --radius-wave: 2rem;
  --circle: 9999px;
  --shadow: 0 0.125rem 0.375rem 0.125rem var(--text20);
  --shadowed: 0 0.25rem 0.75rem 0.25rem var(--text20);
  --shadows4: 0.25rem 0.25rem var(--primary-light), 0.5rem 0.5rem var(--primary-lightest);
  --shadows6: 0.375rem 0.375rem var(--primary-light), 0.75rem 0.75rem var(--primary-lightest);
  --transition: 0.3s linear;

  @media screen and (min-width: 768px) {
    --space: 2rem;
  }

  @media screen and (min-width: 992px) {
    --space: 4rem;
    --radius-wave: 4rem;
  }

  @media screen and (min-width: 1200px) {
    --space: 6rem;
    --radius-wave: 4rem;
  }
}

@mixin dark {
  --text: #fcfcfc;
  --text2: #eeeeee;
  --text3: #dddddd;
  --bg3: #454545;
  --bg2: #333333;
  --bg: #111111;
  --bg10: rgba(0, 0, 0, 0.1);
  --bg20: rgba(0, 0, 0, 0.2);
  --bg40: rgba(0, 0, 0, 0.4);
  --bg60: rgba(0, 0, 0, 0.6);
  --bg80: rgba(0, 0, 0, 0.8);
  --text10: rgba(256, 256, 256, 0.1);
  --text20: rgba(256, 256, 256, 0.2);
  --text40: rgba(256, 256, 256, 0.4);
  --text60: rgba(256, 256, 256, 0.6);
  --text80: rgba(256, 256, 256, 0.8);
}

main.dark {
  @include dark;
}

@media (prefers-color-scheme: dark) {
  main:not(.light) {
    @include dark;
  }
}