.breadcrumb {
  padding: 0 0 3.5rem 0;
  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 0.5rem;
      font-size: 0.75rem;
      color: var(--text2);

      svg {
        margin-right: 0.5rem;
        padding-top: 0.25rem;
      }
    }
  }
}