.contact {
  position: relative;
  background: var(--bg2);
  text-align: center;
  margin-top: auto;
  padding-top: var(--space);
  padding-bottom: calc(var(--space) / 2);
  border-top-left-radius: var(--radius-wave);

  .contact__copy {
    font-size: 0.875rem;
  }
}