.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 0;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 1200px) {
    &:not(.grid-2) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.card {
  position: relative;
  border-radius: var(--radius) 0 var(--radius) 0;
  box-shadow: var(--shadow);
  container-type: inline-size;
  transition: all var(--transition);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1.25rem 0 1.25rem 0;
    background: var(--primary);
    background: linear-gradient(-45deg, var(--primary), var(--secondary));
    transition: all var(--transition);
  }

  a {
    display: block;
    text-decoration: none;
    border-radius: inherit;
  }

  .card__img {
    overflow: hidden;
    border-radius: inherit;
    background: var(--bg2);

    img {
      display: block;
      object-fit: cover;
      aspect-ratio: 16/9;
      border-radius: inherit;
      transition: all var(--transition);
    }
  }

  .card__data {
    position: absolute;
    background: var(--bg60);
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 1rem 0 1rem 0;
    overflow: hidden;
    transition: all var(--transition);

    .card__title {
      font-size: 1.375rem;
      margin-bottom: 0;
    }

    @container(min-width: 360px) {
      .card__title {
        font-size: 1.625rem;
      }
    }

    @container(min-width: 420px) {
      .card__title {
        font-size: 1.75rem;
      }
    }

    .card__categories {
      opacity: 0;
      height: 0;
      transition: all var(--transition);
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    &::after {
      top: -4px;
      left: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
    }

    .card__img img {
      transform: scale(1.1);
    }

    .card__data {
      color: var(--text);

      // .card__categories {
      //   opacity: 1;
      //   height: 1.375rem;
      // }
    }
  }

  @media screen and (max-width: 767px) {
    &::after {
      top: -4px;
      left: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
    }

    .card__data {
      color: var(--text);

      // .card__categories {
      //   opacity: 1;
      //   height: 1.375rem;
      // }
    }
  }
}