.header {
  background: var(--bg);
  position: sticky;
  top: 0;
  box-shadow: 0 1px 2px 0 var(--text40);
  z-index: 50;
  transition: color var(--transition), background-color var(--transition);

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      padding: 0.875rem 0.5rem;
      text-decoration: none;

      @media screen and (min-width: 768px) {
        padding: 0.875rem 1rem;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 3px;
  }

  .logo {
    padding: 0.5rem 0 0.5rem 0;

    img {
      height: 2.25rem;
      width: auto;

      @media screen and (min-width: 768px) {
        filter: grayscale(1);
      }

      transition: filter 0.2s;
    }

    &:hover img,
    &:focus img {
      filter: grayscale(0);
    }

  }

  button,
  .btn {
    margin: 0;
    text-transform: uppercase;
  }
}